<header class="header-wrapper">
  <mat-toolbar class="toolbar">
    <mat-toolbar-row class="toolbar-row">
      <button
        mat-icon-button
        class="btnSideNav"
        (click)="clickSideNav()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <button
        mat-button
        routerLink="{{initialDisplayScreenUrl}}"
        class="menu btnSystemName"
        matTooltip="{{ 'menu.tooltip.home' | translate }}">
        <mat-icon>home</mat-icon>
      </button>

      <div class="toolBarMenu">
        <ng-container>
          <button
            class="menu mainMenu"
            mat-button
            [matMenuTriggerFor]="appMenu"
          >
            <mat-icon>accessibility</mat-icon>
          </button>
          <mat-menu #appMenu="matMenu">
            <ng-container>
              <button
                class="menu subMenu"
                mat-menu-item
                matTooltip="{{ 'menu.tooltip.subMenu.' | translate }}"
                routerLink="#">
              </button>
            </ng-container>
          </mat-menu>
        </ng-container>
      </div>

      <button
        id="sign-out-button"
        class="menu btnSignOut"
        mat-button
        matTooltip="{{ 'menu.tooltip.signOut' | translate }}"
        (click)="clickSignOut()"
      >
        <mat-icon>
          exit_to_app
        </mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
