<header class="header-wrapper">
  <mat-toolbar class="toolbar">
    <mat-toolbar-row class="toolbar-row">
      <!-- <button
        mat-icon-button
        class="btnSideNav"
        (click)="clickSideNav()"
      >
        <mat-icon>menu</mat-icon>
      </button> -->
      <button
        mat-button
        class="menu btnSystemName"
        routerLink="{{initialDisplayScreenUrl}}"
        matTooltip="{{ 'menu.tooltip.home' | translate }}">
        <mat-icon>home</mat-icon>
      </button>

      <div class="toolBarMenu">
        <button
          mat-button
          class="menu mainMenu"
          matTooltip="{{ 'menu.tooltip.person' | translate }}"
          [matMenuTriggerFor]="appMenu"
          >
          <mat-icon>accessibility</mat-icon>
        </button>
        <mat-menu #appMenu="matMenu">
          <button
            class="menu subMenu1"
            mat-menu-item
            routerLink="#"
          >
            {{ 'menu.tooltip.subMenu1' | translate }}
          </button>
          <button
            class="menu subMenu2"
            mat-menu-item
            routerLink="#"
          >
            {{ 'menu.tooltip.subMenu2' | translate }}
          </button>
        </mat-menu>
      </div>

      <button
        id="sign-out-button"
        class="menu btnSignOut"
        mat-button
        matTooltip="{{ 'menu.tooltip.signOut' | translate }}"
        (click)="clickSignOut()"
      >
        <mat-icon>
          exit_to_app
        </mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
