<section class="mat-card-wrapper">
  <mat-card class="mat-card">
    <mat-card-title-group class="mat-card-title-group">
      <mat-card-title>aaa</mat-card-title>
      <mat-card-subtitle>sss</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card>

  <mat-card class="mat-card">
    <mat-card-title-group class="mat-card-title-group">
      <mat-card-title>Title</mat-card-title>
      <mat-card-subtitle>Subtitle</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card>

  <mat-card class="mat-card">
    <mat-card-title-group class="mat-card-title-group">
      <mat-card-title>Title</mat-card-title>
      <mat-card-subtitle>Subtitle</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card>
</section>
