<mat-card>
  <mat-card-title>ログイン画面</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <p>
        <mat-form-field>
          <input
            matInput
            type="text"
            formControlName="username"
            placeholder="{{ 'signInPage.userAccount' | translate }}"
          >
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input
            matInput
            type="password"
            formControlName="password"
            placeholder="{{ 'signInPage.password' | translate }}"
          >
        </mat-form-field>
      </p>

      <p *ngIf="error" class="error">
        {{ error }}
      </p>

      <div class="button">
        <button type="submit" mat-stroked-button>ログイン</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
