.dialog-wrapper {
  display:         flex;
  justify-content: center;
}

.mat-dialog-actions {
  padding-left:    10px;
  padding-top:     30px;
  display:         flex;
  justify-content: center;
}

.mat-dialog-actions .flat-button {
  width:            140px;
  border-radius:    2px;
  background-color: #78BBE6;
  color:            #ffffff;
  letter-spacing:   1px;
  font-size:        1.2rem;
  margin-left:      5px;
}

.mat-dialog-actions .flat-button:hover {
  opacity: 0.8;
}

h1 {
  font-size:  1.2rem;
  text-align: center;
}

p {
  color:        #c330a6;
  font-size:    1.3rem;
  padding-top:  15px;
  padding-left: 15px;
  text-align:   center;
}
