/* --------------------------------------------------------------------------------
 * Basic settings.
 * -------------------------------------------------------------------------------- */
html {
  font-size: 62.5%;
}

body {
  color:            #323232;
  background-color: #ECEFF1;
  font-size:        1.2rem;
  font-family:      "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.body-wrapper {
  min-height:     95vh;
  /* ↑ Fallback of calc() for unsupported browsers */
  min-height:     calc(100vh - 50px);
  position:       relative;
  padding-bottom: 30px;
  box-sizing:     border-box;
}
